[submodule "deps/src/github.com/bmizerany/pat"]
	path = deps/src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
	branch = master
[submodule "deps/src/github.com/charlievieth/fs"]
	path = deps/src/github.com/charlievieth/fs
	url = https://github.com/charlievieth/fs
	branch = master
[submodule "deps/src/github.com/nu7hatch/gouuid"]
	path = deps/src/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
	branch = master
[submodule "deps/src/github.com/pkg/term"]
	path = deps/src/github.com/pkg/term
	url = https://github.com/pkg/term
	branch = master
[submodule "deps/src/github.com/tedsuo/rata"]
	path = deps/src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
	branch = master
[submodule "deps/src/github.com/cloudfoundry-incubator/garden"]
	path = deps/src/github.com/cloudfoundry-incubator/garden
	url = https://github.com/cloudfoundry/garden
[submodule "deps/src/github.com/pivotal-golang/archiver"]
	path = deps/src/github.com/pivotal-golang/archiver
	url = https://github.com/pivotal-golang/archiver
[submodule "deps/src/github.com/pivotal-golang/lager"]
	path = deps/src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager
